
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
 font-family: 'Bebas Neue', cursive;
 text-transform: uppercase;
 letter-spacing: 4px;
 color: #252525;
}

#logo {
    float: left;
    padding-left: 35px;
    max-width: 100%;
    height: auto;
}

/* navigation links */

#menu {
    font-family: 'Bebas Neue', cursive;
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 250px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #fff;
}
#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #f44336;
    transition: 0.5s;

}

.active {
    border-bottom: 1px solid #fff;
}


/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/adidasxmeissen-zx8000-porcelain-5-rgb.jpg) no-repeat center center / cover;
}

/* text-box */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.text-box h1 {
    color: #fff;
}

/*  */

.block-how {
    background: #202020;
    margin: 5rem;
    padding: 40px 60px 40px 20px;
    margin-right: 35%;
    margin-left: 50px;
}

.block-how h3 {
    color: #fff;
    outline: 3px solid #f44336;

}

.block-how p {
    color: #fff;
    outline: 3px solid #f44336;
}

/* how to middle section */

#how-to {
    height: 600px;
}

#right-about{
    padding-top: 30px;
    width: 25%;
    float: right;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;

}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

/* gallery main page */

#gallery-section {
    background: #f8594e;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 40vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 0 20px 20px;
}

.box img {
    outline: 10px solid rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.box a {
    outline: 10px solid rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    padding: 50px;
    object-fit: cover;
}

/*  */

/* footer-section */

footer {
    position: absolute;
    background: #202020;
    height: auto;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    color: #fff;
}

.footer-section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-section-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-section-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}




/*  */