
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@600&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo 2 */

.header {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), url(../images/shutterstock_512963239.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 120%;
    letter-spacing: 5px;
}

.nav-links ul li a:hover {
    border-bottom: 1px solid #f8594e;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.text-box h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 62px;
    letter-spacing: -1px;
}

.text-box p {
    font-family: 'Bebas Neue', cursive;
    margin: 12px 12px 12px 0px;
    letter-spacing: 1px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}

/* nav medium screen sizes from 650px wide and down */

@media screen and (max-width: 650px){
    nav {
        
        display: block;
        width: 40px;
        margin-right: 120px;
        margin-bottom: 25px;
        line-height: 20px;
        float: right;
    }

    nav img {
        width: 60px;
    }

    .text-box {
        margin-top: 25px;
    }
    .text-box h1 {
        font-size: 25px;
    }
}
/* Landing page image medium screen sizes from 450px wide and down */

@media screen and (max-width: 450px){

    .header {
        min-width: 50vh;
    }
}


/* headings and logo 2 */

/* how does it work retry */

.how-does-work-bg {
    background-color: #fff;
    width: 100%;
    height: fit-content;
}

.how-does-work-container {
    background-color: #fff;
    width: 100%;

}

.how-does-work-h2-and-boxes {
    padding: 5px;
}
.how-does-work-h2-and-boxes h2 {
    font-family: 'Bebas Neue', cursive;;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 52px;
    text-align: center;
}

.how-does-work-h2-and-boxes p {
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
}

.how-does-work-boxes {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}


.box-steps {
    width: 95px;
    text-align: center;
    outline: 4px solid #202020;
    border-radius: 10%;
    padding: 35px;
    margin: 20px;
}

/* how does it work medium screen sizes from 650px wide and down */

@media screen and (max-width: 650px){
    .how-does-work-boxes {
        width: 100%;
        height: auto;
    }
}


/* how does it work retry */




/*  */

/* check out our gallery */

#check-gallery {
    background: #f8594e;
    padding-bottom: 35px;
}

.mini-gallery-h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    color: #fff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.gallery-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid ;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.gallery-btn:hover {
    color: #f8594e;
    border: 1px solid #fff;
    background: #fff;
    transition: 0.5s;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 5px;
    margin-bottom: 0;
    padding: 25px;
}

.gallery-wrapper img {
    width: 100%;
    border-radius: 10px;
    border: 5px solid #fff;
}

.gallery-images-box {
    padding: 10px;
}



/* check out our gallery */

/* about us */

#about-us-section-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.about-section {
    background: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url(../images/markus-spiske-cn0-hgcpoL8-unsplash_3.png) no-repeat left;
    background-size: cover;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.about-section-container {
    width: 50%;
    background-color: #f8594e;
    padding: 45px;
}

.about-section-container h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.about-text {
    font-size: 13px;
    color: #fff;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.about-skills {
    color: #fff;
    padding: 0 20px 0 20px;
    font-weight: 700;
    font-size: 13px;
}

/* about us */

/* footer-section */

footer {
    background: #222222;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    color: #fff;
}

.footer-section-content {
    text-align: center;
}

.footer-section-content h3 {
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-section-content p {
    color: #777;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-networks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social-networks li {
    margin: 0 35px;
}

.social-networks a {
    text-decoration: none;
    color: #fff;
}

.social-networks a i {
    font-size: 1.1rem;
    transition: color 0.4s;
}

.social-networks a:hover i {
    color: #f44336;
}

.footer-section-bottom {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.footer-section-bottom p {
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
}


/*  */

/* gallery */

#gallery-page {
    background: #f8594e;
    padding-top: 5%;
    padding-bottom: 8%;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background: #fff;
    border: 50px solid #fff;
}

#photos > img {
    width: 100%;
    transition: 1s;

}

#photos > img:hover {
    transform: scale(1.2);
    z-index: 2;
}

/* contact page */

.contact-bg {
    background: #f8594e;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.contact-container {
    width: 70%;
    margin: 50px;
    background: #111;
    border: 3px solid #111;
}

.contact-container h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    margin: 30px;
}

.contact-container p {
    color: #fff;
    margin: 30px;
}

.contact-content {
    color: #fff;
    padding: 40px;
}

.contact-content h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}


.contact-send-request {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}

.contact-send-request:hover {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #f44336;
    border: 1px solid #fff;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
}





/* contact page */

/* Media queries */


/* Gallery page queries */

@media screen and (max-width: 950px) {
    

#photos {
    column-count: 3;
}


}

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }

}


/* about medium screen sizes from 900px wide and down */

@media screen and (max-width: 900px){

.your-description textarea {
    width: 90%;
}
}